@{
    ViewData["Title"] = "Parameters";
}

<h2 class="mb-3">Parameter Passing & this Keyword</h2>

<h4>Call by Value</h4>
<ul class="list-group mb-3">
    <li class="list-group-item">@ViewBag.CallByValueInside</li>
    <li class="list-group-item">@ViewBag.CallByValueAfter</li>
</ul>

<h4>Call by Ref</h4>
<ul class="list-group mb-3">
    <li class="list-group-item">@ViewBag.CallByRefInside</li>
    <li class="list-group-item">@ViewBag.CallByRefAfter</li>
</ul>

<h4>Call by Out</h4>
<ul class="list-group mb-3">
    <li class="list-group-item">@ViewBag.CallByOutInside</li>
    <li class="list-group-item">@ViewBag.CallByOutAfter</li>
</ul>

<h4>this Keyword Demo</h4>
<ul class="list-group mb-3">
    <li class="list-group-item">@ViewBag.ThisKeywordResult</li>
</ul>
